img.statusIcon {
	height: 75px;
	width: 75px;
}

.potImage { 
   position: relative; 
   width: 100%; /* for IE 6 */
}

.potTemp { 
   position: absolute; 
   top: 9em; 
   left: 3.5em;
   width: 100%; 
}
 
.status {
 	padding:0.5em 2em 1em 2em;
 }
 
 div.currentStep {
 	border-style: solid;
    border-color: #ccc;
    border-width: 1px;
   /* height: 150px;*/
    padding: 10px;
    text-align: left;
    border-radius: 0 0 6px 6px;
 }
 
 div.currentStepHeader {
 	background: #eee;
 	text-align: center;
 	height: auto;
 	border-radius: 6px 6px 0 0;
 }

 div.tab {
    overflow: hidden;
    border-style: solid;
    border-color: #ccc;
    border-width: 0 1px 0 0;
    background: #eee;
    border-radius: 6px 6px 0 0;
 }

/* Style the buttons inside the tab */
div.tab button {
    background-color: inherit;
    float: left;
    border:none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
}

/* Change background color of buttons on hover */
div.tab button:hover {
    background-color: #ddd;
}

/* Create an active/current tablink class */
div.tab button.active {
    background-color: #ccc;
}

/* Style the tab content */
.tabcontent  {
    display: none;
    padding: 6px 12px;
    border: 1px solid #ccc;
   	border-radius: 0 0 6px 6px; 
    height: 100%;
}



